<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation-user.ejs') %>
<div class="container" style="width: 80%; padding-left: 20%;">
    <div>
        <img src="data: image/*;base64,<%= product.imageUrl %>"  style="width: 60%;">
        
        <h1><%= product.title %></h1>
        <p ><%= product.price %></p>
        <p><%= product.description %></p>
        
        <div class="card__actions">
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>

        </div>
      </div>
    </div>
</body>
</html>


